# dependencies
/node_modules
/package-lock.json
/package.json
/public
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/build